@model IEnumerable<IDSps1.Models.Review>

@{
    ViewData["Title"] = "Create";
}

<h1>Register New NGO</h1>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="test-primary">Register</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Name</label>
            <input class="form-control" />
        </div>
        <div class="mb-3">
            <label>Requirements</label>
            <input class="form-control" />
        </div>
        <div class="mb-3">
            <label>Link for Documents</label>
            <input class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
    </div>
</form>


